@use "../utils/breakpoints" as *;

.footer {
  padding-block: 6rem;
  padding-inline: var(--side-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: $bp-7) {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  @media (max-width: $bp-8) {
    padding-block: 5rem;
  }

  &__wave {
    position: absolute;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);

    @media (max-width: $bp-4) {
      display: none;
    }
  }

  &__heading {
    color: var(--color-black-text);
    max-width: 40rem;
    font-size: var(--fs-2);

    @media (max-width: $bp-4) {
      max-width: 30rem;
    }
  }

  &__cta {
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 1.5rem 3rem;
    text-decoration: none;
    font-weight: var(--fw-2);
    transition: all 0.2s;

    @media (max-width: $bp-6) {
      padding: 1.5rem 1rem;
    }

    @media (max-width: $bp-7) {
      padding: 1.5rem 3rem;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
