@use "../utils/breakpoints" as *;

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $bp-1) {
    grid-template-columns: 1fr 2fr;
  }

  @media (max-width: $bp-7) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2.5rem;
    padding-right: var(--side-padding);
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-left: var(--side-padding);
  }

  &__nav {
    background-color: var(--color-red);
    padding-block: 5rem;
    display: flex;
    justify-content: end;
    padding-right: var(--side-padding);
    padding-left: 1rem;

    @media (max-width: $bp-7) {
      display: none;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 2.5rem;

    @media (max-width: $bp-6) {
      gap: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-white);
    font-weight: var(--fw-1);
    transition: all 0.2s;
    position: relative;

    &--primary {
      background-color: var(--color-black-text);
      padding: 1.5rem 2.5rem;
      font-weight: var(--fw-2);

      &:hover {
        background-color: var(--color-black-bg);
      }

      @media (max-width: $bp-5) {
        padding: 1.5rem;
      }

      @media (max-width: $bp-6) {
        padding: 1.25rem;
      }
    }
  }

  &__link-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    font-weight: var(--fw-1);
    transition: all 0.2s;
  }

  &__link-hover {
    opacity: 0;
    font-weight: var(--fw-2);
    transition: all 0.2s;
  }

  &__link:hover &__link-text {
    opacity: 0;
  }

  &__link:hover &__link-hover {
    opacity: 1;
  }
}
