@use "../utils/breakpoints" as *;

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-white);
  position: relative;

  @media (max-width: $bp-8) {
    grid-template-columns: 1fr;
  }

  &__wave {
    position: absolute;
    left: 51%;
    top: 11.5rem;
    transform: translateX(-50%);

    @media (max-width: $bp-3) {
      width: 7rem;
      left: 50%;
    }

    @media (max-width: $bp-6) {
      width: 6rem;
    }

    @media (max-width: $bp-7) {
      width: 5rem;
    }

    @media (max-width: $bp-8) {
      display: none;
    }
  }

  &__main {
    background-color: var(--color-black-bg);
    padding-left: var(--side-padding);
    padding-block: 9rem;
    align-self: start;
    padding-right: 2rem;

    @media (max-width: $bp-8) {
      padding-block: 5rem;
    }
  }

  &__heading {
    font-size: var(--fs-2);
    margin-bottom: 3rem;
    max-width: 34rem;

    @media (max-width: $bp-8) {
      max-width: 18rem;
    }
  }

  &__graphic {
    position: relative;
    left: -25%;
    width: 125%;
    z-index: -1;

    @media (max-width: $bp-2) {
      width: 130%;
      left: -30%;
    }

    @media (max-width: $bp-7) {
      width: 160%;
      left: -60%;
    }

    @media (max-width: $bp-8) {
      width: 100%;
      left: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__graphic-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    padding: 5rem;
    padding-right: 10rem;
    gap: 0.5rem;
    font-size: var(--fs-4);

    @media (max-width: $bp-3) {
      padding-inline: 2.5rem;
    }

    @media (max-width: $bp-8) {
      padding: 2.5rem;
    }
  }

  &__arrows {
    display: flex;
    gap: 1rem;
  }

  &__arrow {
    background-color: transparent;
    border: none;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
