.strategy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-white);
  position: relative;

  &__wave {
    top: 16rem;
    left: 51%;
    transform: translateX(-50%);
    position: absolute;
  }

  &__graphic {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__cta {
    background-color: var(--color-black-bg);
    font-size: var(--fs-4);
    padding-top: 14rem;
    padding-left: 5rem;

    div {
      max-width: 27rem;
      margin: 0 auto;
    }

    h2 {
      font-size: var(--fs-2);
      max-width: 15rem;
      margin-bottom: 3rem;
    }

    span {
      color: var(--color-red);
    }

    p {
      line-height: var(--line-height);
      margin-bottom: 3rem;
    }

    a {
      text-decoration: none;
      border-bottom: 2px solid var(--color-red);
      color: var(--color-red);
      font-weight: var(--fw-2);
      padding-bottom: 0.5rem;
      transition: all 0.2s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__approach {
    padding-top: 15.25rem;
    padding-left: var(--side-padding);

    h2 {
      font-size: var(--fs-2);
      max-width: 35rem;

      color: var(--color-black-text);
      z-index: 10;
      position: relative;
    }
  }

  &__steps {
    background-color: var(--color-red);
    position: relative;
    padding-block: 6rem;
    padding-bottom: 13rem;
    padding-left: var(--side-padding);

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 10rem;
      background-color: var(--color-red);
      position: absolute;
      top: -9.5rem;
      left: 0;
      z-index: 1;
    }

    &::before {
      content: "";
      display: block;
      width: 12rem;
      height: calc(100% + 9.5rem);
      background-color: var(--color-red);
      position: absolute;
      top: -9.5rem;
      left: -11rem;
      z-index: 1;
    }
  }

  &__item {
    position: relative;
  }

  &__number {
    position: absolute;
    top: -3rem;
    left: -3.5rem;
    font-size: var(--fs-1);
    font-weight: var(--fw-2);
    opacity: 0.25;
  }

  &__heading {
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    margin-bottom: 2rem;
  }

  &__list {
    max-width: 27.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__body {
    font-size: var(--fs-4);
    line-height: var(--line-height);
  }
}
