@use "../utils/breakpoints" as *;

.strategy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-white);
  position: relative;

  @media (max-width: $bp-7) {
    grid-template-columns: 1fr;
  }

  &__wave {
    top: 16rem;
    left: 51%;
    transform: translateX(-50%);
    position: absolute;

    @media (max-width: $bp-2) {
      top: 9rem;
    }

    @media (max-width: $bp-3) {
      left: 50%;
      width: 7rem;
    }

    @media (max-width: $bp-4) {
      top: 7rem;
    }

    @media (max-width: $bp-5) {
      top: 9rem;
    }

    @media (max-width: $bp-6) {
      top: 7rem;
      width: 6rem;
    }

    @media (max-width: $bp-7) {
      top: 22rem;
    }

    @media (max-width: $bp-9) {
      top: 50vw;
    }
  }

  &__graphic {
    @media (max-width: $bp-7) {
      height: 23rem;
      width: 100%;
      background-color: var(--color-red);
    }

    @media (max-width: $bp-9) {
      height: unset;
    }

    img {
      width: 100%;
      height: 100%;
    }

    img,
    source {
      @media (max-width: $bp-7) {
        height: 30rem;
        object-position: center;
        object-fit: contain;
      }

      @media (max-width: $bp-9) {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__cta {
    background-color: var(--color-black-bg);
    font-size: var(--fs-4);
    padding-top: 14rem;
    padding-left: 5rem;
    padding-right: 1rem;

    @media (max-width: $bp-2) {
      padding-top: 8rem;
    }

    @media (max-width: $bp-4) {
      padding-top: 5rem;
    }

    @media (max-width: $bp-5) {
      padding-top: 8rem;
    }

    @media (max-width: $bp-6) {
      padding-top: 5rem;
    }

    @media (max-width: $bp-7) {
      padding-block: 5rem;
      padding-left: var(--side-padding);
    }

    div {
      max-width: 27rem;
      margin: 0 auto;
    }

    h2 {
      font-size: var(--fs-2);
      max-width: 15rem;
      margin-bottom: 3rem;

      @media (max-width: $bp-6) {
        margin-bottom: 2rem;
      }
    }

    span {
      color: var(--color-red);
    }

    p {
      line-height: var(--line-height);
      margin-bottom: 3rem;
      @media (max-width: $bp-6) {
        margin-bottom: 2rem;
      }
    }

    a {
      text-decoration: none;
      border-bottom: 2px solid var(--color-red);
      color: var(--color-red);
      font-weight: var(--fw-2);
      padding-bottom: 0.5rem;
      transition: all 0.2s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__approach {
    padding-top: 15.25rem;
    padding-left: var(--side-padding);

    h2 {
      font-size: var(--fs-2);
      max-width: 35rem;

      color: var(--color-black-text);
      z-index: 10;
      position: relative;

      @media (max-width: $bp-7) {
        color: var(--color-white);
        max-width: 50rem;
        margin: 0 auto;
        text-align: center;
      }

      @media (max-width: $bp-8) {
        margin: unset;
        text-align: left;

        max-width: 25rem;
      }
    }

    @media (max-width: $bp-7) {
      padding-top: 6rem;
      background-color: var(--color-red);
    }
  }

  &__steps {
    background-color: var(--color-red);
    position: relative;
    padding-block: 6rem;
    padding-bottom: 13rem;
    padding-left: var(--side-padding);

    @media (max-width: $bp-2) {
      padding-right: var(--side-padding);
      padding-bottom: 6rem;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 10rem;
      background-color: var(--color-red);
      position: absolute;
      top: -9.5rem;
      left: 0;
      z-index: 1;

      @media (max-width: $bp-2) {
        top: -4.5rem;
        height: 5rem;
      }

      @media (max-width: $bp-5) {
        height: 8.1rem;
        top: -8rem;
        left: 0;
      }

      @media (max-width: $bp-7) {
        display: none;
      }
    }

    &::before {
      content: "";
      display: block;
      width: 12rem;
      height: calc(100% + 9.5rem);
      background-color: var(--color-red);
      position: absolute;
      top: -9.5rem;
      left: -11rem;
      z-index: 1;

      @media (max-width: $bp-2) {
        top: -4.5rem;
        height: calc(100% + 4.5rem);
        width: 11.1rem;
      }

      @media (max-width: $bp-5) {
        width: 2.1rem;
        left: -2rem;
        height: calc(100% + 8rem);
        top: -8rem;
      }

      @media (max-width: $bp-7) {
        display: none;
      }
    }
  }

  &__item {
    position: relative;
  }

  &__number {
    position: absolute;
    top: -3rem;
    left: -3.5rem;
    font-size: var(--fs-1);
    font-weight: var(--fw-2);
    opacity: 0.25;

    @media (max-width: $bp-4) {
      left: -3rem;
    }

    @media (max-width: $bp-5) {
      left: -1rem;
    }

    @media (max-width: $bp-7) {
      left: 0;
      top: -3rem;
      font-size: 5rem;
    }
  }

  &__heading {
    font-size: var(--fs-3);
    font-weight: var(--fw-2);
    margin-bottom: 2rem;
  }

  &__list {
    max-width: 27.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @media (max-width: $bp-7) {
      margin: 0 auto;
    }
  }

  &__body {
    font-size: var(--fs-4);
    line-height: var(--line-height);
  }
}
