$bp-1: 83.125em; //1330px
$bp-2: 75em; //1200px
$bp-3: 68.75em; //1100px
$bp-4: 62.5em; //1000px
$bp-5: 54.375em; //870px
$bp-6: 50em; //800px
$bp-7: 43.75em; //700px mobile design starts here
$bp-8: 35.9375em; //575 px
$bp-9: 25.3125em; // 405px
